name: Headless Test

on:
  workflow_dispatch

env: 
  GOOGLE_CLOUD_CREDENTIALS_JSON: ${{ secrets.GOOGLE_CLOUD_CREDENTIALS_JSON }}
  SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
  INVESTIDOR10_EMAIL: ${{ secrets.INVESTIDOR10_EMAIL }}
  INVESTIDOR10_PASSWORD: ${{ secrets.INVESTIDOR10_PASSWORD }}

jobs:
  run-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: run
        run: uv run src/main.py