name: Run Automation

on:
  schedule:
    - cron: '0 0 15 * *'
  workflow_dispatch:

env: 
  GOOGLE_CLOUD_CREDENTIALS_JSON: ${{ secrets.GOOGLE_CLOUD_CREDENTIALS_JSON }}
  SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
  INVESTIDOR10_EMAIL: ${{ secrets.INVESTIDOR10_EMAIL }}
  INVESTIDOR10_PASSWORD: ${{ secrets.INVESTIDOR10_PASSWORD }}
  USER_WALLET_ID: ${{ secrets.USER_WALLET_ID }}

jobs:
  run-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Run
        run: uv run src/main.py